footer {
	border-top: 1.5px solid #CECECE;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-top {
    width: 100%;
    height: 20%;
}
.footer-main {
    width: 100%;
    height: 60%;
    display: flex;
}
.footer-main-left {
	width: 30%;
	height: 100%;
}
.footer-main-right {
	width: 70%;
	height: 100%;
}
.source-api-box {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}
.source-api {
	margin-left: 1rem;
	width: 25%;
	height: 100%;
	object-fit: contain;
}
.footer-bottom {
    width: 100%;
    height: 20%;
}