main {
  	margin-top: 1rem;
  	margin-bottom: 1rem;
    width: 100%;
    height: calc(100vh +500px);
}
.section1 {
    width: 100%;
    height: 100%;
    display: flex;
}
.article-l {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rok-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 70%;
}
.article-r {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}