

/* 사이드 메뉴바 */
   .container {
      width: 100%;
      
   }
   aside {
      position: relative;
      height: 300px;
      width: 230px;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 100px;
      display: flex;
   }
   
   .sidemenubar > a > div {
      width: 230px;
      height: 47px;
      background-color: #FAFAFA;
      border: 1.3px solid #E7E7E7;
      display: flex;
/*      justify-content: center;*/
      align-items: center;
   }
   .fa-angle-right {
      position: absolute;
      right: 10px;
   }
   h3{
      font-weight: 500;
      margin-left: 30px;
   }
   p {
      font-weight: 500;
      font-size: 1.3rem;
   }
   
/* 메인 */
	main {
		width: 100%;
	}
   .middle-container{
   		width:100%;
   		display:flex;
   }
   .main2 {
   	  padding-left: 50px;
   	  width: 95%;
   	  height: 700px;
   	  padding-top: 30px;
   } 
   .chart-text {
   	  display: flex;
   }
   .chart-text>div {
   		text-align: center;
   		width: 300px;
   }
   .chart-box {
   	  display: flex;
   }
   .chart-box>div {
   	  padding-right: 30px;
   	  width: 600px; 
   	  height: 500px;
   }